.profile-navigation-container {
    height: 30%;
    hr {
        height: 1px;
        border: none;
        background-color: #404040;
    }
    div {
        width: 70%;
        height: 90%;
        gap: 3px;
    }
}